<!DOCTYPE html>
<html>
  <%- include('./header');%>
  <body>
    <h2>View Tasks</h2>
    <table class='table table-bordered'>
        <thead class='thead-light'>
            <tr>
                <th>username</th>
                <th>percent</th>
                <th>message</th>
            </tr>
        </thead>
        <tbody>
            
            <% for(let task of tasks){ %>
                <tr>
                    <td><%= task.username%></td>
                    <td><%= task.percent%></td>
                    <td><%= task.message%></td>
                </tr>
            <% }%>
        </tbody>
    </table>


  </body>
</html>
